body {
    padding-bottom: 10px;
    background-color: #3cabc4;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.divHeader {
    background-color: #373d60;
    color: white;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    padding-left: 20px;
}

.divGridEvents {
    background-color: #DEDEDE;

}

table.tableGridEvents {
    display: table;
    width: 100%;
}

table.tableGridEvents thead, table.tableGridEvents tbody {
    float: left;
    width: 100%;
}

table.tableGridEvents tbody {
    overflow: auto;
    max-height: 300px;
}

table.tableGridEvents tr {
    width: 100%;
    display: table;
    text-align: left;
}

