@{
    ViewBag.Title = "Página Inicial";
}


       
        <div class="row">     
            <form>
                <div class="col-xs-6 col-md-3 form-group">
                    <label>Nome do evento:</label>
                    <input type="text" class="form-control" id="searchEventName">
                </div>
                <div class="col-xs-6 col-md-3 form-group">
                    <label>Tipo do evento</label>
                    <select id="searchEventType" class="form-control">
                        <option>Selecione...</option>
                        <option>Passados</option>
                        <option>Atuais</option>
                        <option>Futuros</option>
                    </select>
                </div>
                <div class="col-xs-6 col-md-3 form-group">
                    <label>Data inicial</label>
                    <input id="searchEventStartDate" class="form-control" type="date" />
                </div>
                <div class="col-xs-6 col-md-2 form-group">
                    <label>Data final</label>
                    <input id="searchEventEndDate" class="form-control" type="date" />
                </div>
                
                <div class="col-xs-12 col-md-1 form-group align-center">
                    <label class="col-xs-12">&nbsp;</label>
                    <button class="btn btn-default">Filtrar</button>
                </div>
            </form>
           </div>

        <div class="row">
            <div id="eventList">
            </div>
        </div>
            



<script type="text/javascript">
   
    var url = '@Url.Action("EventList", "Home")';  
  
    $.ajax({
        type: 'POST',
        url: url,
        dataType: 'html',
        cache: false,
        async: true,
        success: function (data) {
            $('#eventList').html(data);
        },
        error: function (data) {
        }
    });



</script>